*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

:root {
    --primary-color: rgb(0,70,190);
}

header {
    background-color: var(--primary-color);
    height: 70px;
    border: 2px solid black;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: sticky;
    background-color: var(--primary-color); 
}


.nav-container .logo {
    display: flex;
    margin-left: 10%;
    cursor: pointer;
}

header .nav-container .logo img {
    width: 75px;
}

header .search {
    display: flex;
    align-items: center;
    margin-left: 12px;
    height: 100%;
    
}

header .search .search-container {
    width: 650px;
    height: 40px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}

header .search .search-container input {
    width: calc(100% - 30px);
    padding: 16px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
}

header .search .search-container button {
    width: 43px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

/* Apply a white background and white text color to the menu button */
.menu button {
    background-color: var(--primary-color); /* Replace with your primary color */
    color: white;
    border: none; /* Remove button border if desired */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    align-items: center;
    display: flex;
    margin: 15px;
    font-size: 20px;
}



header .menu svg {
    margin-left: 5px;
    background-color: var(--primary-color);
}

header .storeicon {
    margin-left: 330px;
    
}

header .storeicon button {
    background-color: var(--primary-color); /* Replace with your primary color */
    color: white;
    border: none; /* Remove button border if desired */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    align-items: center;
    display: flex;
    margin: 15px;
    font-size: 20px;
}

header .Cart {
    display: flex;
    color: white;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    
}

header .Cart a {
    display: flex;
    color: white;
    font-weight: 500;
    text-decoration: none;
    color: inherit;

}

a:hover {
    border-bottom: 2px solid #fff; /* Add an underline on hover, adjust color as needed */
}

.bottom-nav {
    border: 2px solid brown;
    display: flex;
    justify-content: space-between;

}

.bottom-nav > :nth-child(1) {
    display: flex;
    margin-left: 10%;
    font-size: 14px;
}

.bottom-nav > :nth-child(2) {
    display: flex;
    margin-right: 10%;
}